@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {  box-sizing: border-box; } 

.container {
    width: 100%;
    background: #EEEEEE;
}
header {
    background-color: rgba(207, 43, 43, 1);
    height: 92px;
    width: inherit;
    padding-left: 21px;
    padding-top: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}
header h1 {
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
}
header p {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
main {
    width: 100%;
    padding-left: 21px;
    padding-top: 92px;
    padding-bottom: 110px;

}
main h1 {
    font-family: 'Righteous';
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: rgba(51, 51, 51, 1);
    text-align: center;
}
main h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
main h3 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    width: 130px;
    line-height: 18px;
    color: #A6A6A6;
}
main img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.plates {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
}
.drinks {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
}
.diserts {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
}
.plate-description {
    width: 172px;
    height: 216px;
    margin-top: 10px;
    margin-right: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;

    padding-left: 14px;
    padding-top: 10px;

    position: relative;
}
.plate-description p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.title {
    padding-top: 28px;
}
footer {
    height: 92px;
    width: inherit;
    background-color: white;
    
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0px;
    left: 0px;
}
footer button {
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
    border: none;
}
footer h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
}

.selectedBox {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selectedBox .hidden {
    visibility: visible;
}
ion-icon {
    position: absolute;   
    color: #32B72F;
    font-size: 21px;
    right: 12px;
    bottom: 15px;
    
}
.hidden {
    visibility: hidden ;
}
.green-button-footer {
    background-color: #32B72F;
}

.inputs-before-receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.inputs-before-receipt p {
    color: red;
    font-family: 'Roboto', sans-serif;
    padding-left: 23px;
}
.inputs-before-receipt h1 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    font-weight: 700;
    color: #FFFFFF;
}
.inputs-before-receipt div {
    display: flex;
    flex-direction: column;
}
.inputs-before-receipt input {
    border: none;
    border-radius: 50px;
    width: 329px;
    height: 52px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0;
    font-size: 19px;
}
.inputs-before-receipt button {
    border-radius: 50px;
    width: 329px;
    height: 52px;

    background-color: #FFFFFF;
    color: #50D074;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    font-weight: 700;
}
.pop-up-screen {
    position: fixed;
    z-index: 6;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
}
.receipt {
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.receipt button {
    width: 329px;
    height: 52px;
}
.receipt p {
    margin-bottom: 13px;
}
.receipt p:nth-child(4){
    font-weight: 700;
}
.confirmation{
    padding-top: 20px;
    padding-bottom: 25px;
}
.ready-to-ask{
    margin-top: 15px;
    border-radius: 100px;
    
    font-size: 20px;
    font-weight: 700;
    color: rgba(80, 208, 116, 1);
    background: #FFFFFF;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancel-request{
    border-radius: 100px;
    margin-top: 5px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: rgba(80, 208, 116, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}
.receipt-screen a {
    text-decoration: inherit;
    color: inherit;
}
.food-price-tags {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 150px;
    justify-content: space-between;

}
.food-price-tags div:nth-child(1){
    width: 210px;
    margin-left: 26px;

}
.food-price-tags div:nth-child(2){
    width: 100px;
    margin-right: 26px;
    text-align: end;
}
@media (max-width: 576px) {
    
    .plates {
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
    }
    .drinks {
        display: flex;
        overflow: auto;
        justify-content: flex-start;
    }
    .diserts {
        display: flex;
        overflow: auto;
        justify-content: flex-start;
    }
}

@media (max-width: 414px){
    .container {
        width: 414px;
        background: #EEEEEE;
        z-index: 5;
    }
    header h1 {
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;
        letter-spacing: -0.012em;
        font-family: 'Righteous', cursive;
        color: white;
        text-align: start;
    }
    header p {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: start;
    }
    main {
        width: 414px;
        padding-left: 21px;
        padding-top: 92px;
        padding-bottom: 110px;
    }
    main h1 {
        font-family: 'Righteous';
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.018em;
        color: rgba(51, 51, 51, 1);
        text-align: start;
    }
}
